.menu-wrapper {
  box-shadow: 0px 2px 1px 1px #05223180;
}

.peertube-container .header {
  background-color: #021323 !important;
  box-shadow: 0px 2px 1px 1px #05223180 !important;
}

.custom-links-header {
  color: #164c7e;
}

.custom-links-header p a {
  color: #b31942;
}

.custom-links-header p a:hover {
  color: #e8ebf0;
}

#realitytube-logo {
  display: inline-block;
  background: url("../../static/images/logo.png");
  width: 126px;
  height: 38px;
  background-size: 126px;
}

@media screen and (max-width: 900px) {
  #typeahead-container input#search-video.focus-visible {
    color: #fff !important;
  }
  #typeahead-container input#search-video {
    color: #0a2238 !important;
  }
}
@media screen and (max-width: 715px) {
  .peertube-title{
    display:none !important;
  }
  .header .top-left-block .icon.icon-menu {
    background-color: unset !important;
    -webkit-mask-image: unset !important;
    background-image: url(../../static/images/logo_mini.png) !important;
    width: 45px !important;
    height: 45px !important;
    margin: 0 0 0 5px !important;
  }
}