body#custom-css {
  --mainColor: #011323;
  --mainColorLighter: #0a2238;
  --mainColorLightest: #526A83;
  --mainHoverColor: #526A83;
  --mainBackgroundColor: #020e16;
  --mainForegroundColor: #fff;
  --secondaryColor: #b3b3b3;
  --greyForegroundColor: #526A83;
  --greyBackgroundColor: #b3b3b3;
  --menuBackgroundColor: #0a2238;
  --menuForegroundColor: #fff;
  --submenuColor: #0a2238;
  --inputForegroundColor: #fff;
  --inputBackgroundColor: #0a2238;
  --inputPlaceholderColor: #0a2238;
  --textareaForegroundColor: #011323;
  --textareaBackgroundColor: #fff;
  --markdownTextareaBackgroundColor: #0a2238;
  --actionButtonColor: #fff;
  --supportButtonColor: #011323;
  --supportButtonBackgroundColor: #0a2238;
  --supportButtonHeartColor: #fff;
  --dangerBackgroundColor: #b3b3b3;
  --embedForegroundColor: #fff;
  --embedBigPlayBackgroundColor: #020e16;
  --expanded-horizontal-margin-content: 150px;
  font-family: "ITC_Avant_Garde_Gothic", Source Sans Pro, sans-serif;
  font-weight: 400;
  color: var(--mainForegroundColor);
  background-color: var(--mainBackgroundColor);
  font-size: 14px;
  overflow-y: scroll;
}
input,
textarea {
  outline: none;
  color: var(--mainForegroundColor);
  background-color: var(--mainColorLighter) !important;
}
.ng-select .ng-select-container {
  background-color: var(--mainColorLighter) !important;
}
.quick-settings-title {
  color: var(--mainColorLighter) !important;
}
.ng-select.ng-select-multiple
  .ng-select-container
  .ng-value-container
  .ng-value {
  background-color: var(--mainColorLighter) !important;
}
.ng-select.ng-select-multiple
  .ng-select-container
  .ng-value-container
  .ng-value
  .ng-value-icon.left {
  border-right: 1px solid #ffffff !important;
}
.recommended {
  color: #007bff !important;
}
.ng-select .ng-clear-wrapper {
  color: #ffffff !important;
}
.add-button {
  color: #ffffff !important;
}

.header .peertube-select-container.peertube-select-button option,
.header .peertube-select-container.peertube-select-button select {
  color: var(--mainColor) !important;
}

.applications-title,
.publish-button {
  color: #ffffff !important;
  border: solid 1px #94234569 !important;
}
.applications-title,
.publish-button:hover {
  background-color: #0a2238;
}
.account-title {
  color: #ffffff !important;
}
.ng-select,
my-select-checkbox {
  border-color: #ffffff !important;
}
input:checked + label {
  background-color: #4f5f6f !important;
}
.peertube-select-container:after {
  color: #fff !important;
}

.delete-me button {
  background-color: #4f162a;
}
.ng-select .ng-select-container {
  color: #c6c6c6 !important;
}
.user-quota .progress {
  background-color: #9babbf !important;
  display: flex;
  overflow: hidden;
  font-size: .75rem;
  border-radius: 5px !important;
  position: relative;
  height: 2rem;
  border: #B31942 solid 1px !important;
}

.user-quota .progress  span {
  color: #971d47 !important;
}
.p-paginator-rpp-options.p-dropdown.p-component, .p-dropdown-trigger{
  background-color: #020e16;
}

.action-button.button-styled.grey{
  background-color: #0a2238;
}
.delete-me{
  background-color: #761739 !important;
}
.alert-warning {
  color: #839cb0;
  background-color: #031423;
  border-color: #aa2841;
}

.badge.badge-purple{
  background-color: #3e0b5f !important;
  color: #8a6a9f !important;
}
.badge.badge-yellow {
  background-color: #38352b  !important;
  color: #b58905  !important;
}